<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="./vendor/autoload.php"
         colors="true"
>
    <logging/>
    <testsuites>
        <testsuite name="MailChimpOAuthTests">
            <directory suffix=".php">test/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <clover outputFile="coverage.xml"/>
        </report>
    </coverage>
</phpunit>